<%- include("header") -%> <!--these are used to get code from different files called Ejs layout-->

    <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>
    <div class="box">
      <%newItems.forEach(element=>{%>
        <!-- adding new li from the array-->
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="delete" id="" value="<%=element._id%>" onChange="this.form.submit()"/>
            <!--This onchange will submit the deatils of the form-->
          <p><%=element.name%></p>
        </div>
        </form>
      <%})%>
      <form class="item" action="/" method="post">
        <input type="text" name="todo" placeholder="New item" />
        <button class="add" type="submit" name="button" value="<%=value%>">+</button>
      </form>
    </div>
    <%- include("footer") -%> 

