<%- include("header") -%> <!--these are used to get code from different files called Ejs layout-->

    <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>
    <div class="box">
      <%for(let i=0; i < newItems.length; i++){%>
      <!-- adding new li from the array-->
      <div class="item">
        <input type="checkbox" name="" id="" />
        <p><%=newItems[i]%></p>
      </div>
      <%}%>
      <form action="/" method="post">
        <input type="text" name="todo" placeholder="New item" />
        <button class="add" type="submit" name="button" value="<%=value%>">+</button>
      </form>
    </div>
    <%- include("footer") -%> 

